<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <details #productsMenu>
            <summary>Products</summary>
            <ul class="z-30">
              @if (categoryQuery.isSuccess() && categoryQuery.data()) {
                @for (category of categoryQuery.data().content; track category.publicId) {
                  <li><a [routerLink]="['products']"
                       [queryParams]="{category: category.publicId}"
                       (click)="closeMenu(productsMenu)"
                       (clickOutside)="closeMenu(productsMenu)">{{ category.name }}</a></li>
                }
              }
            </ul>
          </details>
        </li>
        <li>
          <details #adminMenu>
            <summary>Admin</summary>
            <ul class="z-30">
              <li>
                <a routerLink="admin/categories/list"
                   (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Categories</a>
              </li>
              <li>
                <a routerLink="admin/products/list"
                   (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Products</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl font-bold" routerLink="/">
      <span class="text-primary">EC</span><span class="text-secondary">ommerce</span>
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-sm sm:menu-lg  menu-horizontal px-1">
        <li><a href="/">Home</a></li>
        <li>
          <details #productsMenu>
            <summary>Products</summary>
            <ul class="z-30">
              @if (categoryQuery.isSuccess() && categoryQuery.data()) {
                @for (category of categoryQuery.data().content; track category.publicId) {
                  <li><a [routerLink]="['products']"
                       [queryParams]="{category: category.publicId}"
                       (click)="closeMenu(productsMenu)"
                       (clickOutside)="closeMenu(productsMenu)">{{ category.name }}</a></li>
                }
              }
            </ul>
          </details>
        </li>
        @if (connectedUserQuery?.status() === "success" && oauth2Service.hasAnyAuthorities(connectedUserQuery?.data()!, "ROLE_ADMIN")) {
          <li>
            <details #adminMenu>
              <summary>Admin</summary>
              <ul class="z-30">
                <li>
                  <a routerLink="admin/categories/list" (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Categories</a>
                </li>
                <li>
                  <a routerLink="admin/products/list" (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Products</a>
                </li>
              </ul>
            </details>
          </li>
        }
      </ul>
  </div>

  <div class="navbar-end pe-4 flex align-items-center">
    <div class="dropdown dropdown-end pe-2">
      <div tabindex="0" role="button">
      @if (this.isConnected() && connectedUserQuery?.data()?.imageUrl !== null) {
        <div class="border border-solid rounded-full">
          <img src="{{connectedUserQuery?.data()?.imageUrl}}" alt="user-avatar" class="avatar-unknown rounded-full" width="45px" />
        </div>
      } @else {
          <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
      }
      </div>
      @if (this.isConnected()) {
        <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
          <li>
            <button class="link" (click)="closeDropDownMenu()" routerLink="/users/orders">My Orders</button>
          </li>
          <li>
            <button class="link" (click)="logout()">Logout</button>
          </li>
        </ul>
      } @else {
        <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
          <li>
            <button class="link" (click)="login()">Login</button>
          </li>
        </ul>
      }
    </div>
    <div class="dropdown dropdown-end me-2" routerLink="/cart">
      <div tabindex="0" role="button">
        <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
      </div>
    </div>
  </div>
</div>

